/* This section covers the entire body */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: gray;
  color: wheat;
}

/* This section covers the header */
header {
  /* border: 1px solid black; */
  background-color: rgba(41, 38, 38, 0.356);
  height: 100px;
  width: 960px;
  margin: 30px auto;
  text-align: center;
}
ul li {
  /* border: 2px dotted blue; */
  display: inline;
  padding: 15px;
  margin: 15px;
  vertical-align: bottom;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* This section covers the main */
main {
  /* border: 1px solid black; */
  width: 960px;
  margin: 30px auto;
  text-align: center;
  background-color: rgba(22, 20, 20, 0.733);
}

main div {
  margin: 30px auto;
  /* text-align: center; */
  display: inline-block;
  width: 960px;
}

button {
  text-align: center;
  background-color: orange;
  border-color: black;
  border-radius: 10px;
  padding: 10px;
}

main h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 30px;
}

main p {
  line-height: 1.5em;
  margin: 30px;
}

main ul li {
  display: block;
}

section {
  /* border: 20px solid green; */
  border-radius: 15px;
}

section img {
  border: 1px solid black;
  margin: 15px;
}

/* This section covers the footer */
footer {
  clear: both;
  background-color: rgba(41, 38, 38, 0.356);
  /* border: 1px solid black; */
  height: 100px;
  width: 960px;
  margin: 30px auto;
  text-align: center;
}